.vs/
x64/
out/
build/**/
build_cmake/
assets/**/
CMakeFiles/
./Debug/
DesktopCharacter/
lib/

!/build/build.cmd

*.ini
*.ttf
*.user
*.obj
*.pdb
*.idb
*.log
*.pmm
*.vmd
*.pmd
*.wav
*.vrm
*.aieproj


_*.py
log.txt


